.login-box {
  position: absolute;
  top: 65%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(246, 247, 250, 0.987);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 2, 29, 0.987);
  border-radius: 10px;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #4f4d4d;
  margin-bottom: 10px;
  border-radius: 10px;
  border-bottom: 1px solid #fff;
  outline: none;
  background:rgb(119, 155, 239);
  /* #fff; */
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 10px;
  padding: 10px 0;
  font-size: 17px;
  color: #ffffff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #bdb8b8;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #0a0505;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.login-box a:hover {
  background: #210af1;
  color: #fffcfc;
  border-radius: 5px;
  box-shadow: 0 0 5px #16e0eb,
              0 0 25px #16e0eb,
              0 0 50px #16e0eb,
              0 0 100px #16e0eb;
}

.login-box a span {
  position: absolute;
  display: block;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,100% {
    left: 100%;
  }
}

.login-box a span:nth-child(1) {
  color: black;
  bottom: 2px;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(360deg, transparent, #1818ff);
  animation: btn-anim1 2s linear infinite;
  animation-delay: 1.125s
  
}
/* .ins{
  color: #ffbc04;
  background-color: white;
  text-align: center;
} */
.ad:nth-child(1){
  position: relative;
  bottom: 50px;
  color: #6fc4f2;
  text-align: center;
  background: linear-gradient(90deg, transparent,);
  animation: btn-anim1 linear infinite;
  /* border-radius: 5px; */
  box-shadow: 0 0 5px #fffffe,
              /* 0 0 25px #ffbc04, */
              /* 0 0 50px #ffbc04, */
              0 0 100px #fdfdfd;
}
.logo{
  border-radius: 75px;
  position: relative;
  left: 100px;
  bottom: 90px;
}

